.messages {
    padding-inline: calc(var(--padding-2) - 0.5rem);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: 1.5rem;

    &__flow {
        overflow: auto;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__header {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: 1.5rem;
        margin-inline: 0.5rem;

        .up {
            margin-right: auto;
        }

        &__icon:not(.up) {
            color: var(--black-400);
        }
    }

    &__search {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-inline: 0.5rem;
        padding: 0.5rem 1rem;
        background-color: var(--white);
        border-radius: 0.5rem;
        color: var(--black-400);
        margin-bottom: 1.5rem;

        &__icon {
            font-size: 1.2rem;
            margin-top: 0.15em;
        }

        &__input {
            font-size: 1rem;
            width: 100%;
            border: none;
            outline: none;
            font-family: inherit;
            background: none;
        }
    }

    .message {
        display: flex;
        gap: 1rem;
        align-items: center;
        border-radius: 0.5rem;
        padding: 0.5rem;

        &:hover {
            background-color: var(--white);
            cursor: pointer;
            user-select: none;
        }

        &__text {
            color: var(--black-400);
            font-size: 0.85rem;
            display: flex;
            align-items: center;
            gap: 0.5rem;
            max-width: 200px;
            margin-top: 0.1em;
            p {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}
