$white: #fff;
$black-200: #f3f3f4bb;
$black-300: #dadada;
$black-400: #a8a8ac;
$black-600: #524b4b;
$black-800: #1a1818;
$primary: #2748dd;
$primary-600: #226093;
$secondary: #e04c32;
$padding-1: 2rem 1rem;
$padding-2: 1.5rem;
