$white: #fff;
$black-200: #f3f3f496;
$black-300: #dadada;
$black-400: #a8a8ac;
$black-600: #6d6464;
$black-800: #1a1818;
$primary: #1355ff;
$primary-400: #1356ff4d;
$secondary: #e04c32;
$padding-1: 2rem 1rem;
$padding-2: 1.5rem;
