:root {
    --padding-1: 2rem 1rem;
    --padding-2: 1.5rem;
}

.dark {
    --white: #161819;
    --black-200: #191d1e;
    --black-300: #2c3335;
    --black-400: #979797;
    --black-600: #404247;
    --black-800: #fff;
    --primary: #1355ff;
    --primary-400: #1356ff4d;
    --secondary: #e04c32;
}

.light {
    --white: #fff;
    --black-200: #f7f7f7;
    --black-300: #dadada;
    --black-400: #9c9c9c;
    --black-600: #f0f0f0;
    --black-800: #1a1818;
    --primary: #1355ff;
    --primary-400: #1356ff4d;
    --secondary: #e04c32;
}
