.profile {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: min-content;
    padding: var(--padding-2);
    border-bottom: 1px solid var(--black-300);

    &__desc {
        font-size: 0.9rem;
        color: var(--black-400);
        margin-block-start: -0.2em;
    }

    &__avatar {
        width: 4rem;
        aspect-ratio: 1;
        border-radius: 50%;
        object-position: top;
        padding: 0.2rem;
        border: 3px solid var(--primary);
    }
}
