.online {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    padding: var(--padding-2);

    &__number {
        text-align: right;
        color: var(--primary);
    }

    &__profiles {
        grid-column: span 2;
        display: flex;
        gap: 1.5rem;
    }

    &__profile {
        position: relative;

        &__image {
            width: 3rem;
            border-radius: 50%;
            aspect-ratio: 1;
            object-position: top;
        }
    }
}

.red,
.green {
    position: relative;
}

.red::before,
.green::before {
    content: "";
    position: absolute;
    width: 0.8rem;
    aspect-ratio: 1;
    border-radius: 50%;
    bottom: 0.1rem;
    right: 0.1rem;
    background-color: var(--secondary);
    border: 1px solid white;
}
.green::before {
    background-color: rgb(24, 231, 24);
}
