@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
:root {
  --padding-1: 2rem 1rem;
  --padding-2: 1.5rem;
}

.dark {
  --white: #161819;
  --black-200: #191d1e;
  --black-300: #2c3335;
  --black-400: #979797;
  --black-600: #404247;
  --black-800: #fff;
  --primary: #1355ff;
  --primary-400: #1356ff4d;
  --secondary: #e04c32;
}

.light {
  --white: #fff;
  --black-200: #f7f7f7;
  --black-300: #dadada;
  --black-400: #9c9c9c;
  --black-600: #f0f0f0;
  --black-800: #1a1818;
  --primary: #1355ff;
  --primary-400: #1356ff4d;
  --secondary: #e04c32;
}

.menubar {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  background: var(--white);
  height: 100%;
  padding: var(--padding-1);
}

.menubar__icons {
  height: 100%;
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.menubar__icons .menubar__icon {
  font-size: 1.25rem;
  color: var(--black-400);
  cursor: pointer;
  position: relative;
}

.menubar__icons .menubar__icon:hover:not(.logo) {
  color: var(--primary);
}

.menubar__icons .menubar__icon--active {
  color: var(--primary);
}

.menubar__icons .menubar__icon--active::after {
  position: absolute;
  content: "";
  background-color: var(--primary);
  width: 0.5rem;
  height: 150%;
  left: -1.6rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 1rem;
}

.menubar__icons .logo {
  background-color: var(--primary);
  color: white;
  width: 2rem;
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0.3rem;
  margin-bottom: 2rem;
}

@media (max-width: 1000px) {
  .menubar {
    display: none;
  }
}

.add {
  margin-top: auto;
}

.logout {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  position: relative;
  left: 3px;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  padding: var(--padding-2);
  border-bottom: 1px solid var(--black-300);
}

.profile__desc {
  font-size: 0.9rem;
  color: var(--black-400);
  -webkit-margin-before: -0.2em;
          margin-block-start: -0.2em;
}

.profile__avatar {
  width: 4rem;
  aspect-ratio: 1;
  border-radius: 50%;
  -o-object-position: top;
     object-position: top;
  padding: 0.2rem;
  border: 3px solid var(--primary);
}

.online {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  padding: var(--padding-2);
}

.online__number {
  text-align: right;
  color: var(--primary);
}

.online__profiles {
  grid-column: span 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
}

.online__profile {
  position: relative;
}

.online__profile__image {
  width: 3rem;
  border-radius: 50%;
  aspect-ratio: 1;
  -o-object-position: top;
     object-position: top;
}

.red,
.green {
  position: relative;
}

.red::before,
.green::before {
  content: "";
  position: absolute;
  width: 0.8rem;
  aspect-ratio: 1;
  border-radius: 50%;
  bottom: 0.1rem;
  right: 0.1rem;
  background-color: var(--secondary);
  border: 1px solid white;
}

.green::before {
  background-color: #18e718;
}

.messages {
  padding-inline: calc(var(--padding-2) - 0.5rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  margin-bottom: 1.5rem;
}

.messages__flow {
  overflow: auto;
  scrollbar-width: none;
}

.messages__flow::-webkit-scrollbar {
  display: none;
}

.messages__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
  margin-inline: 0.5rem;
}

.messages__header .up {
  margin-right: auto;
}

.messages__header__icon:not(.up) {
  color: var(--black-400);
}

.messages__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  margin-inline: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: var(--white);
  border-radius: 0.5rem;
  color: var(--black-400);
  margin-bottom: 1.5rem;
}

.messages__search__icon {
  font-size: 1.2rem;
  margin-top: 0.15em;
}

.messages__search__input {
  font-size: 1rem;
  width: 100%;
  border: none;
  outline: none;
  font-family: inherit;
  background: none;
}

.messages .message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.messages .message:hover {
  background-color: var(--white);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.messages .message__text {
  color: var(--black-400);
  font-size: 0.85rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  max-width: 200px;
  margin-top: 0.1em;
}

.messages .message__text p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer {
  margin: var(--padding-2);
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  background-color: var(--white);
  padding: calc(var(--padding-2) - 0.5rem) var(--padding-2);
  border-radius: 0.5rem;
}

.footer .live {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.1rem 0.3rem;
  font-weight: 500;
  border-radius: 0.3rem;
  background-color: var(--black-200);
  color: var(--primary);
}

.footer .live p {
  font-size: 0.9rem;
}

.footer .images {
  position: relative;
  margin-left: auto;
  width: 25px;
  aspect-ratio: 1;
}

.footer .images img {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 2px solid white;
}

.footer .images img:nth-of-type(1) {
  position: absolute;
  left: 20%;
  top: 20%;
  z-index: 1;
}

.footer .images img:nth-of-type(2) {
  position: absolute;
  right: 20%;
  bottom: 20%;
}

.footer .number {
  width: 1.5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  font-size: 0.8rem;
  color: var(--white);
  display: -ms-grid;
  display: grid;
  place-content: center;
  background-color: var(--primary);
}

.footer .time {
  font-size: 0.8rem;
  color: var(--black-400);
}

.footer .ellipsis {
  color: var(--black-400);
  font-size: 1.5rem;
}

.chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  background-color: var(--white);
}

.chat__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  padding: var(--padding-2);
  border-bottom: 1px solid var(--black-300);
}

.chat__title {
  font-size: 1.2rem;
}

.chat__content {
  width: 100%;
}

.chat__icons {
  margin-inline: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

.chat__icon {
  color: var(--black-400);
  font-size: 1.5rem;
}

.chat .video {
  font-size: 1.8rem;
}

.chat__images {
  position: relative;
}

.chat__image {
  width: 2rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1px solid white;
  background-color: var(--primary);
  color: var(--white);
  display: -ms-grid;
  display: grid;
  place-content: center;
  font-size: 0.8em;
  top: 0;
}

.chat__image:nth-of-type(2) {
  position: absolute;
  left: -15px;
}

.chat__image:nth-child(1) {
  position: absolute;
  left: -30px;
}

.chat__image:nth-child(3) {
  position: relative;
  z-index: 1;
}

.chat__single {
  padding-inline: var(--padding-2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1rem;
}

.chat__dp {
  width: 2.5rem;
  aspect-ratio: 1;
  border-radius: 50%;
}

.chat .message__flow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.75rem;
}

.chat__text {
  padding: 0.5rem 1rem;
  background-color: var(--black-600);
  font-size: 1rem;
  border-radius: 2rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: var(--black-800);
}

.chat__user__name {
  font-size: 1rem;
}

.chat__user__name span {
  color: var(--black-400);
  font-weight: 400;
  margin-left: 0.25rem;
}

.chat .receive p:nth-of-type(1) {
  margin-top: 0.5rem;
  border-radius: 0 2rem 2em 2rem;
}

.chat .send {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  text-align: right;
}

.chat .send p:nth-of-type(1) {
  margin-top: 0.5rem;
  border-radius: 2em 0em 2em 2rem;
  background-color: var(--primary);
  color: white;
  margin-left: auto;
}

.chat .date {
  text-align: center;
  font-size: 1.1rem;
  color: var(--black-400);
  font-weight: 400;
}

.audio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 1rem;
  padding-right: 1.7rem;
  background-color: var(--black-600);
  font-size: 0.9rem;
  border-radius: 2rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.audio__strike {
  height: 40px;
  margin-right: -0.7rem;
}

.audio__strike:nth-child(2n) {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.audio .icon {
  background-color: var(--primary-400);
  width: 1.5rem;
  aspect-ratio: 1;
  display: -ms-grid;
  display: grid;
  place-content: center;
  border-radius: 50%;
  color: var(--primary);
  font-size: 1rem;
}

.chat__image__msgs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  width: 90%;
  max-width: 600px;
  -ms-grid-rows: 15vh;
      grid-template-rows: 15vh;
  overflow: hidden;
  gap: 0.5rem;
}

.chat__image__msgs img {
  height: 100%;
  width: 100%;
  border-radius: 1rem;
}

.chat__form {
  margin: var(--padding-2);
  margin-top: auto;
  margin-bottom: 2rem;
  background-color: var(--black-200);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 1rem;
  -webkit-box-shadow: 2px 3px 10px -2px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 3px 10px -2px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  height: 3.5rem;
  gap: 1rem;
}

.chat__form .dp {
  height: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
}

.chat__form input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-family: inherit;
  background: none;
}

.chat__form .form__icon {
  font-size: 1.5rem;
  color: var(--black-400);
  cursor: pointer;
}

.chat__form .send {
  font-size: 1.75rem;
  color: var(--primary);
}

.about {
  border-left: 1px solid var(--black-300);
  min-width: 25rem;
  background-color: var(--white);
}

.about__header {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
  gap: 3rem;
  padding: var(--padding-2);
  border-bottom: 1px solid var(--black-300);
}

.about__header .ellipsis {
  margin-left: auto;
  margin-right: 1rem;
  font-size: 1.2rem;
}

.about__header .about__group {
  margin-inline: auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-align: center;
}

.about__header .about__group img {
  width: 6rem;
  aspect-ratio: 1;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}

.about__header .about__group p {
  color: var(--black-400);
}

.about__participants, .about__SharedMedias {
  padding: var(--padding-2);
}

.about__participants header, .about__SharedMedias header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.5rem;
}

.about__participants header a, .about__SharedMedias header a {
  color: var(--primary);
}

.about__participants__list, .about__SharedMedias__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
}

.about__participants__list .about__participant,
.about__participants__list .about__SharedMedia, .about__SharedMedias__list .about__participant,
.about__SharedMedias__list .about__SharedMedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.about__participants__list .about__participant img,
.about__participants__list .about__SharedMedia img, .about__SharedMedias__list .about__participant img,
.about__SharedMedias__list .about__SharedMedia img {
  width: 3rem;
  aspect-ratio: 1;
  border-radius: 50%;
}

.about__participants__list .about__participant h3,
.about__participants__list .about__SharedMedia h3, .about__SharedMedias__list .about__participant h3,
.about__SharedMedias__list .about__SharedMedia h3 {
  font-weight: 500;
  font-size: 1rem;
}

.about__participants__list .about__participant p,
.about__participants__list .about__SharedMedia p, .about__SharedMedias__list .about__participant p,
.about__SharedMedias__list .about__SharedMedia p {
  font-size: 0.9rem;
  color: var(--black-400);
}

@media (max-width: 1350px) {
  .about {
    display: none;
  }
}

.about__SharedMedia .icon {
  width: 2.5rem;
  aspect-ratio: 1;
  background-color: var(--black-200);
  display: -ms-grid;
  display: grid;
  place-content: center;
  border-radius: 0.5rem;
  color: var(--black-400);
  font-size: 1.5rem;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

* {
  -webkit-transition: background-color 0.2s ease-in-out, background 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, background 0.2s ease-in-out, color 0.2s ease-in-out;
}

h2 {
  color: var(--black-800);
  font-size: 1.2rem;
  font-weight: 600;
}

h3 {
  font-size: 0.95rem;
  font-weight: 500;
  color: var(--black-800);
}

img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #dfdfdf;
}

:root {
  font-size: calc(1rem - 5px);
}

#root {
  display: -ms-grid;
  display: grid;
  place-content: center;
  height: 100vh;
}

.app {
  width: 90vw;
  height: 90vh;
  min-height: 700px;
  max-width: 2000px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto 5fr 2fr;
      grid-template-columns: auto auto 5fr 2fr;
  border-radius: 1rem;
  overflow: hidden;
}

@media (max-width: 1350px) {
  .app {
    -ms-grid-columns: auto auto 1fr;
        grid-template-columns: auto auto 1fr;
  }
}

@media (max-width: 1000px) {
  .app {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.home {
  background-color: var(--black-200);
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1000px) {
  .home {
    display: none;
  }
}

.attribution {
  margin-top: 0.5rem;
  text-align: center;
}

.theme-toggle {
  position: fixed;
  z-index: 5;
  width: 5rem;
  bottom: 2rem;
  right: 2rem;
  aspect-ratio: 1;
  background: var(--black-800);
  color: var(--black-200);
  display: -ms-grid;
  display: grid;
  place-content: center;
  font-size: 2.5rem;
  border-radius: 50%;
  cursor: pointer;
}

.light .theme-toggle {
  -webkit-animation: spinRight 0.5s linear forwards;
          animation: spinRight 0.5s linear forwards;
}

.dark .theme-toggle {
  -webkit-animation: spinLeft 0.5s linear forwards;
          animation: spinLeft 0.5s linear forwards;
}

@-webkit-keyframes spinRight {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@keyframes spinRight {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@-webkit-keyframes spinLeft {
  from {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes spinLeft {
  from {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

input {
  color: var(--black-800);
}
/*# sourceMappingURL=style.css.map */