@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import "./sass/variables";
@import "./components/aside/aside";
@import "./components/profile/profile";
@import "./components/online/online";
@import "./components/messages/messages";
@import "./components/footer/footer";
@import "./components/chat/chat";
@import "./components/about/about";

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
}

h2 {
    font-size: 1.2rem;
    font-weight: 600;
}

h3 {
    font-size: 0.95rem;
    font-weight: 500;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    display: block;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: rgb(223, 223, 223);
}

:root {
    font-size: calc(1rem - 2px);
}

#root {
    display: grid;
    place-content: center;
    height: 100vh;
}

.app {
    width: 90vw;
    height: 90vh;
    max-width: 2000px;
    display: grid;
    grid-template-columns: auto auto 5fr 2fr;
    border-radius: 1rem;
    overflow: hidden;

    @media (max-width: 1350px) {
        grid-template-columns: auto auto 1fr;
    }
    @media (max-width: 1000px) {
        grid-template-columns: 1fr;
    }
}

.home {
    background-color: var(--black-200);
    height: 90vh;
    display: flex;
    flex-direction: column;

    @media (max-width: 1000px) {
        display: none;
    }
}
